@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
:root {
    --dark: #002233;
    --light: #0066FF;
    --offwhite: #cccccc;

}
body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background: var(--dark);
    overflow-x: hidden;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.stroke {
    background: url('../static/images/wave-haikei.svg');
}
.svg_div {
    aspect-ratio: 960/300;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 135%;
}
.info {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 158px;
}
.info p{
    margin-top: 0px;
}
h1.name {
    font-size: 80px !important;
    font-weight: 600 !important;
    position: unset !important;
    margin: 0.83em 0px 0px 0px !important;
    font-size: 80px !important;
    font-weight: 600 !important;
}
h1 {
    position: absolute;
    top: 0;
    margin: 20px;
    font-size: 40px;
}
svg.blob {
    position: absolute;
    top: 0;
}
a.button {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 10px;
}
a.button .p {
    padding: 0 20px;
    padding-top: 10px;
    background: var(--light);
    border: 2px solid;
    border-radius: 10px 0px 0px 10px;

}
a.button .v {
    background: #fff;
    color: #000;
    padding: 0px 20px;
    padding-top: 10px;
    border-radius: 0px 10px 10px 0px;
}
.slider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    display: flex;
    flex-direction: row;
}
.container {
    width: 250px;
    position: relative;
    margin: 20px;
    height: 350px;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.container .img {
    /* background: var(--dark); */
    width: 100%;
    height: 50%;
    border-radius: 10px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sm_banner {
    background-image: url('../static/images/logos/form.svg');
}
.req_banner {
    background-image: url('../static/images/logos/ask.svg');
}
.prod_banner {
    background-image: url('../static/images/logos/settings.svg');
}
.about_banner {
   background-image: url('../static/images/undraw_team_spirit_hrr4.svg');
}
.products_banner {
    background-image: url('../static/images/undraw_project_team_lc5a.svg');
}
.container:hover {
    /* width: 300px !important; */
    /* height: 390px !important; */
    padding: 30px !important;
    transform: translateY(-50px);
    /* box-shadow: var(--light) 0px 0px 10px 1px; */
}
h3 {
    font-weight: 400;
    font-size: 1.5em;
}
.waves {
    background-image: url('../static/images/layered-waves-haikei.svg');
}
.btn {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    width: 70px;
    text-align: center;
    height: 23px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.normal {
    background: var(--light);
    border: 2px solid var(--light);
}
.inverse {
    background: transparent;
    color: var(--light);
}
.getin {
    position: absolute;
    bottom: 0px;
    transform: translateY(100px);
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.link {
    color: var(--light);
    text-decoration: none;
    cursor: pointer;
}
.inverted-link {
    color: var(--offwhite);
    font-weight: 900;
    text-decoration: underline;
}
.bubble {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bubble svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.bubble .shape-fill {
    fill: var(--dark);
}
.documintation {
    left: 50% !important;
    transform: translateX(-50%);
    bottom: -60%;
}
.documintation .p {
    padding-top: 0px !important;
    border: 2px solid var(--light) !important;
}
.documintation .v {
    padding-top: 0px !important;
}
.sections {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.sec {
    width: 100%;
}
.sec ul {
    list-style: none;
    margin-left: 20%;
}
.sec li {
    margin: 20px;
}
.contacts li {
    margin-bottom: 50px;
}
.sec a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
}
.icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px 0px;
}
.e {
    background-image: url('../static/images/logos/email.svg');
}
.f {
    background-image: url('../static/images/logos/facebook.svg')
}
.t {
    background-image: url('../static/images/logos/twitter.svg')
}
.fotter {
    position: absolute;
    bottom: 0;
    margin: 20px;
    font-weight: 100;
}
.login_div {
    left: 50%;
    transform: translateX(-50%);
}
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    text-align: center;
    width: 25%;
}
.login legend {
    margin-bottom: 20px;
}
.txt {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0px solid;
    user-select: none;
    outline: none;
}
.login .sub_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sub_btn {
    width: 100px;
    height: 40px;
    border: 0px solid;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.nav {
    display: inline-flex;
    width: 100%;
}
.nav h1 {
    width: 70%;
    margin-left: 40px;
    z-index: 1;
}
.minimenu {
    display: inline-flex;
    position: absolute;
    right: 0;
    width: 27%;
    list-style: none;
    z-index: 1;
}
.minimenu li {
    margin-left: 40px;
}
.nav a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.nav .btn {
    background: var(--light);
    margin: 0px;
    margin-left: 40px;
    position: relative;
    top: -9px;
}
.register {
    left: 45% !important;
    height: 75% !important;
}
.register_div {
    left: 45% !important;
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
legend {
    font-size: 30px;
    font-weight: 900;
}
.about_div {
    height: 140%;
    width: 60%;
    left: 0%;
    top: -40px !important;
}
.about-us {
    position: relative;
    z-index: 1;
    width: 60%;
    left: -35%;
    top: 80px;
}
.about-us h2 {
    font-weight: 900;
    font-size: 25px;
}
.about-us p {
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}
.about-img {
    width: 45%;
    height: 70%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 5%;
    top: 55%;
    /* transform: translateY(-50%) rotate(-45deg); */
}
a.inverted-theme {
    color: var(--light);
    font-weight: 900;
}
#work-with-us .container {
    padding: 30px !important;
}
#work-with-us .container:hover {
    padding: 40px !important;
}
#our-product .project {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.project-blob {
    width: 60%;
}
.project-blob .blob{
    position: unset !important;
}
.project-text {
    padding-left: 50px;
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.projects_slider {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.status {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.project-text h3 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 0;
}
p.versio_num {
    padding: 3px 10px;
    border: 2px solid var(--offwhite);
    border-radius: 10px 0px 0px 10px;
}
p.version_type {
    width: fit-content;
    padding: 3px 10px;
    background-color: var(--offwhite);
    color: #000;
    border-radius: 0px 10px 10px 0px;
}
p.ud {
    border-radius: 10px;
    background-color: var(--dark);
    color: #fff;
    padding: 6px 20px;
}
.project_img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    width: 26%;
    background-size: contain;
    height: 100%;
}
.designer_banner {
	background-image: url('../static/images/undraw_Designer_mindset_re_2w1k.svg');
}
.programmer_banner {
	background-image: url('../static/images/undraw_programming_2svr.svg');
}
.ai_banner {
	background-image: url('../static/images/undraw_Artificial_intelligence_re_enpp.svg');
}
.socialmedia_project_banner {
	background-image: url('../static/images/undraw_Social_growth_re_tjy9.svg');
}
.ebot_project_banner {
	background-image: url('../static/images/undraw_Chat_bot_re_e2gj.svg');
}
.aai_project_banner {
	background-image: url('../static/images/undraw_Artificial_intelligence_re_enpp.svg');
}
.dark {
    background: var(--dark);
}
.light {
    background: var(--light);
}
.offwhite {
    background: var(--offwhite);
    color: #000;
}
.blob-motion {
    position: absolute;
    transform: translateY(-20%);
}
.flip {
    transform: rotate(180deg);
}
