<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
    <title>FlexAPI</title>
</head>
<body>
    <!-- <nav>
        <h1><a href='../templates/index.html'>FlexAPI</a></h1>
        <ul class='minimenu'>
            <li><a href='../templates/index.html'>Home</a></li>
            <li><a href='#'>FAQ</a></li>
            <li class="btn"><a href='../templates/register.html'>Register</a></li>
        </ul>
    </nav> -->
    <section class="dark">
        <div class="info">
            <h1 class='name'>FlexAPI</h1>
            <a href="#" class='button'>
                <div class="p">
                    <p>Documintation</p>
                </div>
                <div class="v">
                    <p>v:0.3.0</p>
                </div>
            </a>
        </div>
        <svg class='blob' id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(450.81615329094143 303.33176710100213)">
                <path id='blob1'
                    d="M67.7 -127C88.4 -105.2 106.6 -88.6 132.4 -68.3C158.1 -48 191.6 -24 191.7 0.1C191.9 24.2 158.7 48.3 137.8 77.1C116.9 105.8 108.2 139.1 87.3 155.3C66.3 171.6 33.2 170.8 -0.6 171.8C-34.3 172.8 -68.7 175.6 -90.3 159.8C-112 143.9 -120.9 109.5 -137.8 79.7C-154.6 50 -179.3 25 -188.8 -5.5C-198.4 -36 -192.7 -72 -172.2 -95.4C-151.7 -118.8 -116.4 -129.5 -85.2 -145.4C-54 -161.2 -27 -182.1 -1.8 -179C23.4 -175.9 46.9 -148.9 67.7 -127"
                    fill="#0066FF"></path>
            </g>
            <g transform="translate(456.8155823082402 302.6733972433682)" style="visibility: hidden;">
                <path id='blob2'
                    d="M87.1 -152.1C114.3 -135.3 138.5 -114.6 148.5 -88.6C158.5 -62.7 154.3 -31.3 151.7 -1.5C149.1 28.3 148.1 56.7 135.7 78.5C123.3 100.3 99.4 115.5 74.9 125.5C50.3 135.5 25.2 140.3 -6.2 150.9C-37.5 161.6 -75 178.2 -103 170.2C-131 162.2 -149.5 129.6 -158.9 97.1C-168.3 64.7 -168.7 32.3 -168.4 0.2C-168.1 -32 -167.2 -64 -150.7 -84.3C-134.3 -104.6 -102.3 -113.2 -74.6 -129.7C-46.9 -146.2 -23.4 -170.6 3.3 -176.3C30 -182 60 -168.9 87.1 -152.1"
                    fill="#0066FF"></path>
            </g>
        </svg>
        <p style="position: absolute; bottom: 0; font-weight: 900; font-size: 20px;">FlexAPI gives you an API for any platform you want in few clicks.</p>
        <div class="getin">
            <a href="../templates/login.html" class="btn normal">Login</a>
            <a href="../templates/register.html" class="btn normal inverse">Register</a>
        </div>
    </section>
    <div class="svg_div stroke flip"></div>
    <section class="light">
        <h1>Featurs</h1>
        <!-- <p>Impedit accusantium fugit laborum enim quod temporibus, exercitationem commodi ullam?</p> -->
        <div style='width: 100%; height: 100%; position: absolute; margin: 50px;'>
            <div class="slider">
                <div class="container" id='1'>
                    <div class="img sm_banner"></div>
                    <div class="content">
                        <h3>SocialMedia APIs</h3>
                        <p>APIs for known social media plarforms, with a high cusomization and security in usage.</p>
                    </div>
                </div>
                <div class="container" id='2'>
                    <div class="img req_banner"></div>
                    <div class="content">
                        <h3>Request APIs</h3>
                        <p>Request an API for any platform or website, and it will be published in 2 business days.</p>
                    </div>
                </div>
                <div class="container" id='3'>
                    <div class="img prod_banner"></div>
                    <div class="content">
                        <h3>API Products</h3>
                        <p>Our original producs that uses API will be published for end users to use.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="svg_div waves" style='background-position-y: 100%;'></div>
    <section class="offwhite">
        <!-- <p>Maxime tempora labore porro dolorem. Modi nulla laboriosam mollitia accusantium?</p> -->
        <div>
            <div style='transform: translateY(-35px);'>
                <h3 style='font-weight: 900; font-size: 40px;'>Check the <a href='#' class='link'>Documintation</a> for more features.</h3>
                <p style='font-weight: 400; font-size: 30px;'>You can request a <a href='#' class='link'>Demo</a> version for minimum usage to try it, or you can <a href='../templates/register.html' class='link'>Signup</a> for full usage.</p>
                <a href="#" class='button documintation'>
                    <div class="p">
                        <p>Documintation</p>
                    </div>
                    <div class="v">
                        <p>v:0.3.0</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="bubble">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <section class="dark">
        <!-- <h1>Something</h1>
        <p>Tenetur in provident repellat dolorem sunt iure voluptatem officia asperiores!</p> -->
        <div class="sections">
            <div class='sec refrences'>
                <ul>
                    <li><a href="../templates/info.html">About us</a></li>
                    <li><a href="../templates/info.html#contact-us">Contact us</a></li>
                    <li><a href="#">Documintation</a></li>
                    <li><a href="#">Requests</a></li>
                    <li><a href="../templates/products.html">Products</a></li>
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Who is Alpha</a></li>
                    <li><a href="../templates/info.html/work-with-us">Work with us</a></li>
                </ul>
            </div>
            <div class='sec contacts'>
                <ul>
                    <li><a href="mailto: alphacomunicating@gmail.com"><div class='e icon'></div>alphacomunicating@gmail.com</a></li>
                    <li><a href="https://www.facebook.com/AlphaCom96"><div class='f icon'></div>AlphaCom96</a></li>
                    <li><a href="https://twitter.com/AlphaCom96"><div class='t icon'></div>AlphaCom96</a></li>
                </ul>
            </div>
        </div>
        <div class="fotter">All the rights reseived to Alpha Co © 2021 - 2022 </div>
    </section>

    <script>
        const tween = KUTE.fromTo(
            '#blob1',
            { path : '#blob1'},
            { path : '#blob2'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        tween.start()
    </script>
</body>
</html>