<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
    <title>FlexAPI</title>
</head>
<body>
    <nav class='nav'>
        <h1><a href='../templates/index.html'>FlexAPI</a></h1>
        <ul class='minimenu'>
            <li><a href='../templates/index.html'>Home</a></li>
            <li><a href='#'>FAQ</a></li>
            <li class="btn"><a href='../templates/register.html'>Register</a></li>
        </ul>
    </nav>
    <section class="dark">
        <!-- about us section -->
        <div class="about-us">
            <h2>We are trying to make app-development reach the next level</h2>
            <p>Here in FlexAPI, we are working on making the ability of using any platform as a milestone for your application, 
            by providing a secure working API for it; Letting you access to your highest creativity potentials 
            in providing new features to existing websites or services, or making your own solutions availble and 
            integreated with the existing website. We believe in adding new features is more important than recreating a whole existing feature for it, 
            and now you can achieve all of that by few clicks.</p>
        </div>
        <div class="img about-img about_banner"></div>
        <svg class='blob about_div' id="visual" viewBox="0 0 900 600" width="900" height="600"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(435.123583940632 287.22035500988204)">
                <path id='blob1'
                    d="M197 -333.3C261.9 -303.6 325.8 -264.3 363.3 -207.2C400.8 -150 411.9 -75 411.8 -0.1C411.6 74.8 400.2 149.7 363.6 208.3C326.9 266.9 264.9 309.2 200.1 344C135.3 378.7 67.7 405.9 -1.3 408.2C-70.3 410.5 -140.7 388 -197.5 348.6C-254.3 309.3 -297.7 253.1 -329.3 192.2C-361 131.3 -381 65.6 -382 -0.6C-383.1 -66.8 -365.2 -133.7 -331.3 -190.7C-297.4 -247.7 -247.4 -294.9 -189.5 -328.6C-131.7 -362.4 -65.8 -382.7 0.1 -382.8C66 -383 132 -363 197 -333.3"
                    fill="#0066ff"></path>
            </g>
            <g transform="translate(446.2556461342764 310.4286326783841)">
                <path id='blob2'
                    d="M198.7 -347.1C261 -308.1 317.6 -262.1 351 -203C384.4 -144 394.7 -72 393.1 -0.9C391.5 70.2 378.1 140.3 343.4 197.2C308.7 254 252.8 297.5 192 334.3C131.3 371 65.6 401 -1.2 403.1C-68 405.1 -136 379.2 -194.5 341.1C-252.9 303.1 -301.8 252.8 -333.8 193.9C-365.8 135 -380.9 67.5 -384.8 -2.2C-388.7 -72 -381.4 -144 -352.5 -208.2C-323.6 -272.5 -273 -328.9 -210.7 -367.9C-148.3 -406.9 -74.2 -428.5 -3 -423.3C68.2 -418.1 136.3 -386.1 198.7 -347.1"
                    fill="#0066ff"></path>
            </g>
        </svg>
    </section>
    <div class="svg_div stroke flip"></div>
    <section class="light" id="work-with-us">
        <h1>Work with us</h1>
        <div style='width: 100%; height: 100%; position: absolute; margin: 50px;'>
            <div class="slider">
                <div class="container" id='1'>
                    <div class="img designer_banner"></div>
                    <div class="content">
                        <h3>Designers</h3>
                        <p>Show your creativity in desinging logos, banners, web, etc. and join us in the journy of changing the world, just fill the form or mail us.</p>
                    </div>
                </div>
                <div class="container" id='2'>
                    <div class="img programmer_banner"></div>
                    <div class="content">
			    <h3>Programmers</h3>
                            <p>Use your problem solving skills, and extend your programming knoweledge, and join us in the journy of changing the world, just fill the form or mail us.</p>
                    </div>
                </div>
                <div class="container" id='3'>
                    <div class="img ai_banner"></div>
                    <div class="content">
                        <h3>ML/DL</h3>
                        <p>Use your experince in AI to make a pwerful models that can and open your mind to new ideas to help the others, and join us in the journy of changing the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="svg_div waves" style='background-position-y: 100%;'></div>
    <section class="offwhite" id="contact-us">

        <h1>Contact us</h1>
        <div class="sections">
            <div class="sec" style='margin: 19px; margin-top: 60px;'>
                <legend>Email</legend>
                <p style='font-size: 25px;'>You can contact us by email on <a class='link inverted-theme' href='mailto: alphacomunicating@gmail.com'>alphacomunicating@gmail.com</a> 
                for business approach, or giving your reviews about the API, or even more, to tell us about more features to add.</p>
            </div>
            <div class="sec" style='margin: 20px; margin-top: 60px;'>
                <legend>Facebook</legend>
                <p style='font-size: 25px;'>You can check the company facebook account <a class='link inverted-theme' href='https://www.facebook.com/AlphaCom96'>AlphaCom96</a>
                to contact us, or be up to date of FlexAPI project updates or to see our new projects and news.</p>
            </div>
            <div class="sec" style='margin: 20px; margin-top: 60px;'>
                <legend>Twitter</legend>
                <p style='font-size: 25px;'>You can check the company twitter account <a class='link inverted-theme' href='https://twitter.com/AlphaCom96'>AlphaCom96</a>
                 to be up to date our new projects and news.</p>
            </div>
        </div>
       
        <div class="bubble">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <section class="dark">
        <!-- <h1>Something</h1>
        <p>Tenetur in provident repellat dolorem sunt iure voluptatem officia asperiores!</p> -->
        <div class="sections">
            <div class='sec refrences'>
                <ul>
                    <li><a href="../templates/info.html">About us</a></li>
                    <li><a href="../templates/info.html#contact-us">Contact us</a></li>
                    <li><a href="#">Documintation</a></li>
                    <li><a href="#">Requests</a></li>
                    <li><a href="../templates/products.html">Products</a></li> 
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Who is Alpha</a></li>
                    <li><a href="../templates/info.html#work-with-us">Work with us</a></li>
                </ul>
            </div>
            <div class='sec contacts'>
                <ul>
                    <li><a href="mailto: alphacomunicating@gmail.com"><div class='e icon'></div>alphacomunicating@gmail.com</a></li>
                    <li><a href="https://www.facebook.com/AlphaCom96"><div class='f icon'></div>AlphaCom96</a></li>
                    <li><a href="https://twitter.com/AlphaCom96"><div class='t icon'></div>AlphaCom96</a></li>
                </ul>
            </div>
        </div>
        <div class="fotter">All the rights reseived to Alpha Co © 2021 - 2022 </div>
    </section>

    <script>
        const tween = KUTE.fromTo(
            '#blob1',
            { path : '#blob1'},
            { path : '#blob2'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        tween.start()
    </script>
</body>
</html>
