<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
    <title>FlexAPI</title>
</head>
<body>
    <nav class='nav'>
        <h1><a href='../templates/index.html'>FlexAPI</a></h1>
        <ul class='minimenu'>
            <li><a href='../templates/index.html'>Home</a></li>
            <li><a href='#'>FAQ</a></li>
            <li class="btn"><a href='../templates/register.html'>Register</a></li>
        </ul>
    </nav>
    <section class="dark">
        <!-- about us section -->
        <div class="about-us">
            <h2>Original prjects provided by us is fitting everyone and any major.</h2>
            <p>Our team works so hard to dilever an original projects made by us, which fits your background knoweledge 
            so as an normal user, or a programmer; you will find a version for your usage, in addition to that the majority
            or the usage is doesn't matter, e-commerce, blogging, service provider, or personal usage for personal portfolios, 
            websites, or self projects, even if your needs is customaizable and isn't exist in any of our projects, or can't be
            handeled with our API, you can go to <a href="#" class='link inverted-link'>Request</a> page to request your customaizable feature, or <a href="#" class='link inverted-link'>Mail us</a> for that. 
            </p>
        </div>
        <div class="img about-img products_banner"></div>
        <svg class='blob about_div' id="visual" viewBox="0 0 900 600" width="900" height="600"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(435.123583940632 287.22035500988204)">
                <path id='blob1'
                    d="M197 -333.3C261.9 -303.6 325.8 -264.3 363.3 -207.2C400.8 -150 411.9 -75 411.8 -0.1C411.6 74.8 400.2 149.7 363.6 208.3C326.9 266.9 264.9 309.2 200.1 344C135.3 378.7 67.7 405.9 -1.3 408.2C-70.3 410.5 -140.7 388 -197.5 348.6C-254.3 309.3 -297.7 253.1 -329.3 192.2C-361 131.3 -381 65.6 -382 -0.6C-383.1 -66.8 -365.2 -133.7 -331.3 -190.7C-297.4 -247.7 -247.4 -294.9 -189.5 -328.6C-131.7 -362.4 -65.8 -382.7 0.1 -382.8C66 -383 132 -363 197 -333.3"
                    fill="#0066ff"></path>
            </g>
            <g transform="translate(446.2556461342764 310.4286326783841)">
                <path id='blob2'
                    d="M198.7 -347.1C261 -308.1 317.6 -262.1 351 -203C384.4 -144 394.7 -72 393.1 -0.9C391.5 70.2 378.1 140.3 343.4 197.2C308.7 254 252.8 297.5 192 334.3C131.3 371 65.6 401 -1.2 403.1C-68 405.1 -136 379.2 -194.5 341.1C-252.9 303.1 -301.8 252.8 -333.8 193.9C-365.8 135 -380.9 67.5 -384.8 -2.2C-388.7 -72 -381.4 -144 -352.5 -208.2C-323.6 -272.5 -273 -328.9 -210.7 -367.9C-148.3 -406.9 -74.2 -428.5 -3 -423.3C68.2 -418.1 136.3 -386.1 198.7 -347.1"
                    fill="#0066ff"></path>
            </g>
        </svg>
    </section>
    <div class="svg_div stroke flip"></div>
    <section class="light" id="our-product">
        <h1>Our Projects</h1>
        <div class="projects_slider">
            <div class='project'>
                <div class='project-blob'>
                    <svg class='blob ppp' id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                        <g transform="translate(450.81615329094143 303.33176710100213)">
                            <path id='blob1_project'
                                d="M67.7 -127C88.4 -105.2 106.6 -88.6 132.4 -68.3C158.1 -48 191.6 -24 191.7 0.1C191.9 24.2 158.7 48.3 137.8 77.1C116.9 105.8 108.2 139.1 87.3 155.3C66.3 171.6 33.2 170.8 -0.6 171.8C-34.3 172.8 -68.7 175.6 -90.3 159.8C-112 143.9 -120.9 109.5 -137.8 79.7C-154.6 50 -179.3 25 -188.8 -5.5C-198.4 -36 -192.7 -72 -172.2 -95.4C-151.7 -118.8 -116.4 -129.5 -85.2 -145.4C-54 -161.2 -27 -182.1 -1.8 -179C23.4 -175.9 46.9 -148.9 67.7 -127"
                                fill="#ffffff"></path>
                        </g>
                        <g transform="translate(456.8155823082402 302.6733972433682)" style="visibility: hidden;">
                            <path id='blob2_project'
                                d="M87.1 -152.1C114.3 -135.3 138.5 -114.6 148.5 -88.6C158.5 -62.7 154.3 -31.3 151.7 -1.5C149.1 28.3 148.1 56.7 135.7 78.5C123.3 100.3 99.4 115.5 74.9 125.5C50.3 135.5 25.2 140.3 -6.2 150.9C-37.5 161.6 -75 178.2 -103 170.2C-131 162.2 -149.5 129.6 -158.9 97.1C-168.3 64.7 -168.7 32.3 -168.4 0.2C-168.1 -32 -167.2 -64 -150.7 -84.3C-134.3 -104.6 -102.3 -113.2 -74.6 -129.7C-46.9 -146.2 -23.4 -170.6 3.3 -176.3C30 -182 60 -168.9 87.1 -152.1"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    <div class="img project_img socialmedia_project_banner"></div>
                </div>
                <div class='project-text'>
                    <h3>SocialMedia API</h3>
                    <div class="status">
                        <p class="versio_num">v:1.0.0</p>
                        <p class="version_type">Beta</p>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id delectus labore alias excepturi eveniet dolor
                    autem repudiandae reiciendis quidem sequi fuga, ducimus et commodi illo vel veniam eos tenetur amet doloremque
                    optio maxime recusandae hic minus. Quasi beatae debitis rerum recusandae nisi cumque, architecto minima quaerat 
                    officiis fugit, nam eos.</p>
                </div>
            </div>
            <div class='project'>
                <div class='project-blob'>
                    <svg class='blob' id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                        <g transform="translate(450.81615329094143 303.33176710100213)">
                            <path id='blob3_project'
                                d="M67.7 -127C88.4 -105.2 106.6 -88.6 132.4 -68.3C158.1 -48 191.6 -24 191.7 0.1C191.9 24.2 158.7 48.3 137.8 77.1C116.9 105.8 108.2 139.1 87.3 155.3C66.3 171.6 33.2 170.8 -0.6 171.8C-34.3 172.8 -68.7 175.6 -90.3 159.8C-112 143.9 -120.9 109.5 -137.8 79.7C-154.6 50 -179.3 25 -188.8 -5.5C-198.4 -36 -192.7 -72 -172.2 -95.4C-151.7 -118.8 -116.4 -129.5 -85.2 -145.4C-54 -161.2 -27 -182.1 -1.8 -179C23.4 -175.9 46.9 -148.9 67.7 -127"
                                fill="#ffffff"></path>
                        </g>
                        <g transform="translate(456.8155823082402 302.6733972433682)" style="visibility: hidden;">
                            <path id='blob4_project'
                                d="M87.1 -152.1C114.3 -135.3 138.5 -114.6 148.5 -88.6C158.5 -62.7 154.3 -31.3 151.7 -1.5C149.1 28.3 148.1 56.7 135.7 78.5C123.3 100.3 99.4 115.5 74.9 125.5C50.3 135.5 25.2 140.3 -6.2 150.9C-37.5 161.6 -75 178.2 -103 170.2C-131 162.2 -149.5 129.6 -158.9 97.1C-168.3 64.7 -168.7 32.3 -168.4 0.2C-168.1 -32 -167.2 -64 -150.7 -84.3C-134.3 -104.6 -102.3 -113.2 -74.6 -129.7C-46.9 -146.2 -23.4 -170.6 3.3 -176.3C30 -182 60 -168.9 87.1 -152.1"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    <div class="img project_img ebot_project_banner"></div>
                </div>
                <div class='project-text'>
                    <h3>E-Bot</h3>
                    <div class="status">
                        <p class="version_type ud">under development</p>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id delectus labore alias excepturi eveniet dolor
                    autem repudiandae reiciendis quidem sequi fuga, ducimus et commodi illo vel veniam eos tenetur amet doloremque
                    optio maxime recusandae hic minus. Quasi beatae debitis rerum recusandae nisi cumque, architecto minima quaerat 
                    officiis fugit, nam eos.</p>
                </div>
            </div>
            <div class='project'>
                <div class='project-blob'>
                    <svg class='blob' id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                        <g transform="translate(450.81615329094143 303.33176710100213)">
                            <path id='blob5_project'
                                d="M67.7 -127C88.4 -105.2 106.6 -88.6 132.4 -68.3C158.1 -48 191.6 -24 191.7 0.1C191.9 24.2 158.7 48.3 137.8 77.1C116.9 105.8 108.2 139.1 87.3 155.3C66.3 171.6 33.2 170.8 -0.6 171.8C-34.3 172.8 -68.7 175.6 -90.3 159.8C-112 143.9 -120.9 109.5 -137.8 79.7C-154.6 50 -179.3 25 -188.8 -5.5C-198.4 -36 -192.7 -72 -172.2 -95.4C-151.7 -118.8 -116.4 -129.5 -85.2 -145.4C-54 -161.2 -27 -182.1 -1.8 -179C23.4 -175.9 46.9 -148.9 67.7 -127"
                                fill="#ffffff"></path>
                        </g>
                        <g transform="translate(456.8155823082402 302.6733972433682)" style="visibility: hidden;">
                            <path id='blob6_project'
                                d="M87.1 -152.1C114.3 -135.3 138.5 -114.6 148.5 -88.6C158.5 -62.7 154.3 -31.3 151.7 -1.5C149.1 28.3 148.1 56.7 135.7 78.5C123.3 100.3 99.4 115.5 74.9 125.5C50.3 135.5 25.2 140.3 -6.2 150.9C-37.5 161.6 -75 178.2 -103 170.2C-131 162.2 -149.5 129.6 -158.9 97.1C-168.3 64.7 -168.7 32.3 -168.4 0.2C-168.1 -32 -167.2 -64 -150.7 -84.3C-134.3 -104.6 -102.3 -113.2 -74.6 -129.7C-46.9 -146.2 -23.4 -170.6 3.3 -176.3C30 -182 60 -168.9 87.1 -152.1"
                                fill="#ffffff"></path>
                        </g>
                    </svg>
                    <div class="img project_img aai_project_banner"></div>
                </div>
                <div class='project-text'>
                    <h3>Analatical AI</h3>
                    <div class="status">
                        <p class="version_type ud">under development</p>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id delectus labore alias excepturi eveniet dolor
                    autem repudiandae reiciendis quidem sequi fuga, ducimus et commodi illo vel veniam eos tenetur amet doloremque
                    optio maxime recusandae hic minus. Quasi beatae debitis rerum recusandae nisi cumque, architecto minima quaerat 
                    officiis fugit, nam eos.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="svg_div waves" style='background-position-y: 100%;'></div>
    <section class="offwhite" id="contact-us">

        <h1>Contact us</h1>
        <div class="sections">
            <div class="sec" style='margin: 19px; margin-top: 60px;'>
                <legend>Email</legend>
                <p style='font-size: 25px;'>You can contact us by email on <a class='link inverted-theme' href='mailto: alphacomunicating@gmail.com'>alphacomunicating@gmail.com</a> 
                for business approach, or giving your reviews about the API, or even more, to tell us about more features to add.</p>
            </div>
            <div class="sec" style='margin: 20px; margin-top: 60px;'>
                <legend>Facebook</legend>
                <p style='font-size: 25px;'>You can check the company facebook account <a class='link inverted-theme' href='https://www.facebook.com/AlphaCom96'>AlphaCom96</a>
                to contact us, or be up to date of FlexAPI project updates or to see our new projects and news.</p>
            </div>
            <div class="sec" style='margin: 20px; margin-top: 60px;'>
                <legend>Twitter</legend>
                <p style='font-size: 25px;'>You can check the company twitter account <a class='link inverted-theme' href='https://twitter.com/AlphaCom96'>AlphaCom96</a>
                 to be up to date our new projects and news.</p>
            </div>
        </div>
       
        <div class="bubble">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>
    <section class="dark">
        <!-- <h1>Something</h1>
        <p>Tenetur in provident repellat dolorem sunt iure voluptatem officia asperiores!</p> -->
        <div class="sections">
            <div class='sec refrences'>
                <ul>
                    <li><a href="../templates/info.html">About us</a></li>
                    <li><a href="../templates/info.html#contact-us">Contact us</a></li>
                    <li><a href="#">Documintation</a></li>
                    <li><a href="#">Requests</a></li>
                    <li><a href="../templates/products.html">Products</a></li> 
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Who is Alpha</a></li>
                    <li><a href="../templates/info.html#work-with-us">Work with us</a></li>
                </ul>
            </div>
            <div class='sec contacts'>
                <ul>
                    <li><a href="mailto: alphacomunicating@gmail.com"><div class='e icon'></div>alphacomunicating@gmail.com</a></li>
                    <li><a href="https://www.facebook.com/AlphaCom96"><div class='f icon'></div>AlphaCom96</a></li>
                    <li><a href="https://twitter.com/AlphaCom96"><div class='t icon'></div>AlphaCom96</a></li>
                </ul>
            </div>
        </div>
        <div class="fotter">All the rights reseived to Alpha Co © 2021 - 2022 </div>
    </section>

    <script>
        const tween = KUTE.fromTo(
            '#blob1',
            { path : '#blob1'},
            { path : '#blob2'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        tween.start()

        const project_tween = KUTE.fromTo(
            '#blob1_project',
            { path : '#blob1_project'},
            { path : '#blob2_project'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        project_tween.start()

        const project_tween1 = KUTE.fromTo(
            '#blob3_project',
            { path : '#blob3_project'},
            { path : '#blob4_project'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        project_tween1.start()

        const project_tween2 = KUTE.fromTo(
            '#blob5_project',
            { path : '#blob5_project'},
            { path : '#blob6_project'},
            {repeat : 999, duration : 3000, yoyo : true}
        )

        project_tween2.start()
    </script>
</body>
</html>
